main {
    @apply h-screen flex items-center justify-center;
}

article {
    @apply w-1/3 p-4 rounded-xl bg-slate-800;
}

button {
    @apply text-xl font-bold p-2;
}

section {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms ease;

    &[aria-expanded="true"] {
        grid-template-rows: 1fr;
    }
}

section > * {
    overflow: hidden;
}