<main>
  <article>
    <button (click)="toggle(this)">Open me</button>
    <section attr.aria-expanded="{{ open }}">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae eveniet, obcaecati harum sequi molestiae rerum nam illum ad hic laudantium ipsum. Quos at iusto enim ut fuga? Porro mollitia at natus numquam dolores dolorum quo rem quisquam sunt, provident, vero assumenda? Incidunt aliquam provident commodi quia inventore dignissimos error totam.
      </p>
    </section>
  </article>
</main>

<router-outlet></router-outlet>
